{% extends "base.html" %}

{% block title %}Cheese List{% endblock title %}


{% block content %}

<h2>Cheese List</h2>


<div class="row">
    <div class="col-sm-6">
        <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            {% for item in object_list %}
            <tbody>
              <tr>
                <td><a href={{ item.get_absolute_url }}>{{item.name}}</a></td>
                <td>{{item.description}}</td>
              </tr>
            </tbody>
            {% endfor %}
        </table>
        
    </div>
    
</div>



{% endblock %}