
{% extends "warehouse/warehouse_nav.html" %}

{% block title %}Warehouse List{% endblock title %}


{% block content %}

<h2>Warehouse List</h2>

<p>
  <button type="button" class="btn btn-primary ">
    <span class="glyphicon glyphicon-plus"></span>
    New item
  </button>
</p>


<div class="row">
    <div class="col-sm-6">
        <table class="table" id='item-table'>
            <thead>
              <tr>
                <th>Name</th>
                <th>Amount</th>
              </tr>
            </thead>
            {% for object in object_list %}
            <tbody>
              <tr>
                <td><a href={{ object.get_absolute_url }}>{{object.name}}</a></td>
                <td>{{object.amount}}</td>
              </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    
</div>



{% endblock %}